@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family:"Roboto", sans-serif;
    font-size: medium;
    background-color: #2787D9;
    color: whitesmoke;
    font-size: 18px;
}
h2{
    font-size: 3em;
    color: whitesmoke;
}
.contenedor-principal{
    margin-top: 5%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.realizado{
    text-decoration: line-through;
    text-decoration-color: black;
}

#lista-tareas{
    list-style-type: none;
    user-select: none;
    padding: 0;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    margin-right: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #27D93F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #27BFD9;
}

input[type="text"]::placeholder {
    color: whitesmoke;
}

input[type="text"]:hover {
    border: 2px solid #27BFD9;
}

.boton-eliminar {
    font-size: 1.3em;
    height: 48px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;

}

.elemento-tarea-pendiente{
    background-color: #27BFD9;
    color: white;
    font-weight:700;
    height: 1.1em;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1.3em;
    width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
}

.contenedor-tarea{
    display: flex;
    flex-direction: row;
}
